.TextInputs label {
  margin-bottom: 7px;
  width: 109px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #212121;
}

.TextInputs input {
  width: 930px;
  height: 80px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 0px;
  border: none;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
}

